body {
  margin: 0;
}

img {
  width: 24px;
  height: 24px;
}

.body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0.3449754901960784) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 70%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
}
