.article {
  height: 80%;
  display: flex;
  width: 100%;
  background-color: #6aa2bc;
  align-items: baseline;
}

input {
  width: 1.3rem;
  height: 1.3rem;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

section > div {
  display: flex;
  align-items: center;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

ul > li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

ul > li > div {
  display: flex;
  align-items: center;
}
